:root {
    --one: #141E29;
    --two:#B6C1D0;
    --three:#BE861F;
    --three-light:#be861fbd;
    --four:#17344E;
}

.carousel {
    /* fallback color */
    background-color: #6654543d; 
    background-image: linear-gradient(
        270deg
        ,#cc6aa5,#3e91cc,#2dcca7);
    background-size: 600% 100%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 5px
}
.scrolling-wrapper .suggestion-label {
    display: inline-block;
    margin: 8px;
    padding: 3px;
    background-color:rgba(42, 165, 89, 0.877);
    border-radius: 6%;
    font-size: 1.1em;
}

/* .scrolling-wrapper::-webkit-scrollbar{
    display: none;
} */
    
.suggestionBox {
    background-color: #000000ef;
    color: rgba(240, 248, 255, 0.877);
}
.suggestionBox a{
    color: rgb(48, 47, 47);
}

.suggestionBoxTitle {
    font-weight:bold; 
    font-size:1.2em; 
    margin-left:10px;
}



