:root {
    --one: #141E29;
    --two:#B6C1D0;
    --three:#BE861F;
    --three-light:#be861fbd;
    --four:#17344E;
} 

html, body{
    margin:0;
    padding:0;
}

html {
}

body {
    background-color: var(--two); 
    background: linear-gradient(0deg, rgba(49,46,101,0.9110994739692753) 0%, rgba(42,164,136,1) 100%);
    background-size: 600% 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav{
    background-color: var(--one);
    
}
nav li{
    height: 64px !important;
    margin: 0 5px;
}
nav a{
    height: 64px !important;
}
nav li i{
    position: relative;
    top:4.5px;
    left:10px;
}
.NavberSubMsg{
    position: relative;
    top: -3px;
    padding: 1px;
    margin:0; 
    font-size:1.1em;
}
.sidenav span {
    font-size: 1.2em;
}
.sidenav hr {
    margin:10px 0;
    opacity: .5;
}
.sidenav li a {
    font-size: 1.3em;
}
#slide-out {
    background-color: var(--two);
    background: linear-gradient(0deg, rgba(49,46,101,0.9110994739692753) 0%, rgba(42,164,136,1) 100%);
}

hr {
    margin: 0px;
}

/* Helper Classes */
.bold {
    font-weight: 900;
}

.light {
    font-weight: 100;
}

.mg-2 {
    margin: 2 !important;
}

/* Button Controls */
.btn {
    width: 100px;
    background-color: var(--one);
    margin: 10px;
}
.btn:hover {
    background-color: var(--four);
}
.btn:focus {
    background-color: var(--four);
}
/* a link */
a {
    color:var(--one)
}
/* label */
label{
    color:var(--one);
}
label.active {
    color: var(--four) !important;
}
/* input */
input {
    border-bottom: 1px solid var(--one) !important;
    box-shadow: 0 1px 0 0 var(--one) !important;
}
.input-field .prefix.active{
    color:var(--four) !important;
} 
input:focus {
    border-bottom: 1px solid var(--four) !important;
    box-shadow: 0 1px 0 0 var(--four) !important;
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
    color: var(--one);
}
.browser-selector{
    background-color: transparent;
    border:none;
    border: 2.3px solid var(--one) !important;
    position: relative;
    top:2px;
    border-radius: 0% !important;
    margin-left: 7px;
}
.browser-selector:focus{
    outline: none;
}
.browser-selector:mousedown{
    
}

.browser-selector:active{
    border-bottom: none !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: var(--one) !important; 
}
/* checkbox:checked */
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--one);
    background-color: var(--one);
}

/* interactive section */
.interactiveIcon-side {
    font-size: 2.8em;
}
.interactiveIcon-main {
    font-size: 5em;
    border-radius: 100%;
    max-width: 105px;
    margin: 0 auto;
    background-color: var(--one);
    color: white;
    position: relative; 
    top:40px;
}
.interactiveBar {
    position: relative; 
    top:20px;
    min-height: 25%;
}

/* TalkToMeBox */
.TalkToMeBox{
    width: 70%;
    margin: 50px auto;
    /* border: 4px solid #000000; */
    /* border-radius: 2%; */
    padding: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    color: #000000;
    font-family: arial;
    position: relative;
}

/* Popup */
.popup {
    display:none;
    position:absolute;
    background-color: #000000d7;
    height: 100%;
    width: 100%;
    top: 0%;
    padding: 10%;
    color: #B6C1D0;
}

.popup p {
    margin: 1px;
    font-size: 1.3em;
}

/* message box */
#textMessage::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(235, 231, 231, 0.527);
}
#textMessageBox{
    margin-bottom: 0 !important;
    background-color: #000000ef;
    padding: 5px 20px;
    color:#B6C1D0 !important;
}
#textMessage{
    color:#B6C1D0 !important;
}

/* Live Call */
#liveCall{
    width: 120%;
    background-color: black;
    height: 120%;
    position: absolute;
    top:0;
    z-index: 1;
    padding:50px;
    
}


/* Animation */
/* ----------------------------------------------
* Generated by Animista on 2021-3-4 23:25:25
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

.vibrate-2{-webkit-animation:vibrate-2 .3s linear infinite both;animation:vibrate-2 .3s linear infinite both}
 @-webkit-keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

 /* ----------------------------------------------
 * Generated by Animista on 2021-3-4 23:56:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .heartbeat{-webkit-animation:heartbeat 2s ease-in-out infinite both;animation:heartbeat 2s ease-in-out infinite both}
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-4 23:41:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .bg-pan-left{-webkit-animation:bg-pan-left 8s infinite both;animation:bg-pan-left 8s infinite both}
 @-webkit-keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}@keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-6 1:58:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .color-change-2x{-webkit-animation:color-change-2x 20s linear infinite alternate both;animation:color-change-2x 20s linear infinite alternate both}
 @-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}