:root {
    --one: #141E29;
    --two:#B6C1D0;
    --three:#BE861F;
    --three-light:#be861fbd;
    --four:#17344E;
} 

html, body{
    margin:0;
    padding:0;
}

body {
    background-color: var(--two); 
    background: linear-gradient(0deg, rgba(49,46,101,0.9110994739692753) 0%, rgba(42,164,136,1) 100%);
    background-size: 600% 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav{
    background-color: var(--one);
}
nav li{
    height: 64px !important;
    margin: 0 5px;
}
nav a{
    height: 64px !important;
}
.NavberSubMsg{
    position: relative;
    top: -3px;
    padding: 1px;
    margin:0; 
    font-size:1.1em;
}
.sidenav span {
    font-size: 1.2em;
}
.sidenav hr {
    margin:10px 0;
    opacity: .5;
}
.sidenav li a {
    font-size: 1.3em;
}
#slide-out {
    background-color: var(--two);
    background: linear-gradient(0deg, rgba(49,46,101,0.9110994739692753) 0%, rgba(42,164,136,1) 100%);
}

hr {
    margin: 0px;
}

/* Helper Classes */
.bold {
    font-weight: 900;
}

.light {
    font-weight: 100;
}

.mg-2 {
    margin: 2 !important;
}

/* Button Controls */
.btn {
    width: 100px;
    background-color: var(--one);
    margin: 10px;
}
.btn:hover {
    background-color: var(--four);
}
.btn:focus {
    background-color: var(--four);
}
/* a link */
a {
    color:var(--one)
}
/* label */
label{
    color:var(--one);
}
label.active {
    color: var(--four) !important;
}
/* input */
input {
    border-bottom: 1px solid var(--one) !important;
    box-shadow: 0 1px 0 0 var(--one) !important;
}
.input-field .prefix.active{
    color:var(--four) !important;
} 
input:focus {
    border-bottom: 1px solid var(--four) !important;
    box-shadow: 0 1px 0 0 var(--four) !important;
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
    color: var(--one);
}
.dropdown-content li>a, .dropdown-content li>span{
    color: var(--one) !important; 
}
/* checkbox:checked */
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--one);
    background-color: var(--one);
}

/* Speech Bubble */
.speechbubble {
    width: 70%;
    margin: 50px auto;
    border: 4px solid #000000;
    border-radius: 2%;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    color: #000000;
    font-family: arial;
    position: relative;
}
.bubbletrig:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #000000;
border-bottom: 10px solid transparent;
right: 10%;
bottom: -23px;
}

/* .sb9:after {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid rgb(3, 3, 3);
border-bottom: 10px solid transparent;
right: 50%;
bottom: -18px;
} */


/* ----------------------------------------------
 * Generated by Animista on 2021-3-4 23:41:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .bg-pan-left{-webkit-animation:bg-pan-left 8s infinite both;animation:bg-pan-left 8s infinite both}
 @-webkit-keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}@keyframes bg-pan-left{0%{background-position:100% 50%}100%{background-position:0 50%}}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-6 1:58:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .color-change-2x{-webkit-animation:color-change-2x 20s linear infinite alternate both;animation:color-change-2x 20s linear infinite alternate both}
 @-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}